.normal{
    width: 100%;
    padding: 10px;
    border: 1px solid #666666;
    border-radius: 5px;
}

.checkbox-layout{
    display: flex;
    align-items: center;
}

.input-label{
    font-size: medium;
}

input[type='checkbox']{
    width: auto;
    transform: scale(1.2);
}

.error{
    border: 2px solid red;
}

input::placeholder{
    color: #666666;
    font-size: medium;
}

.errorMessage{
    bottom: 100;
    color: red;
}
