*{
    font-family: 'TerminaRegular';
}

.title-name{
    color: #b38a24;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0%;
    margin: 52px 0px 35px;
}
.description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    font-family: 'Lato';
    margin-bottom: 25px;
}
.child-card{
    margin : 16px 0px;
}
@media screen and (max-width: 600px){
    .bcwhite{
        width: 90%;
        margin: 0 auto;
    }
    .title-name{
        font-size: 20px;
        margin: 25px 0px;
    }
    .description{
        font-size: 10px;
        margin-bottom: 25px;
    }

}