.main {
    height: 100%;
    position: relative;
}

.image {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.swiper {
    color: white;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* right: 20px;
    bottom: 50px; */
    /* z-index: 1; */
}
.reviewer {
    max-height: 60px;
    border-radius: 10px;
}

.reviewer-name {
    padding-left: 10px;
    font-size: x-large;
}

.reviewer-and-name-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: xx-large;
    text-align: center;
}

.comma {
    font-size: xxx-large;
    text-align: center;
}

@media screen and (max-width: 480px) {

    .main {
        height: 117%;
        position: relative;
    }
    .comma {
        font-size: xx-large;
        text-align: center;
    }

    .quote {
        font-size: medium;
        text-align: center;
    }
    .reviewer {
        max-height: 35px;
        border-radius: 10px;
    }
    
    .reviewer-name {
        padding-left: 10px;
        font-size: small;
    }
    
    .reviewer-and-name-holder {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper{
        height: 100%;
    }
}