@import "c/resStyleSheet";
.res-profile-container{
    width: 80%;
    margin: 25px auto;
    min-height: 500px;
}
.pointer-events-disabled{
    pointer-events: none;
}
.res-firstname-input{
    padding: 10px;
    max-width: 200px; 
}
.res-lastname-input{
    padding: 10px;
    max-width: 200px; 
}
.res-email-input{
    padding: 10px;
}
.res-contact-input{
    padding: 10px;
    max-width: 200px; 
}
.res-user-details-input-item{
    padding: 0 20px;
    margin: 10px 0;
}
.res-user-details-buttons{
    padding: 0 20px;
}
.res-profile-menu{
    flex-direction: column;
    justify-content: space-between;
}
.res-bookings-card{
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 7px 1px rgba(219, 219, 219, 1);
    overflow: hidden;
    align-items: stretch;
}
.res-profile-container-left-part {
    background-color: var(--secondaryColor);
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    position: sticky;
    top: 20px;
}
.res-profile-tab{
    text-decoration: none;
    display: flex;
    justify-content: left;
    margin : 20px 0;
    align-items: center;
    padding: 10px 0 10px 40px;
}
.res-profile-tab-active{
    background-color: var(--primaryColor);
}
.res-profile-tab-icon{
    margin-right: 12px;
    --lwc-colorTextIconDefault: var(--primaryColor);
}
.res-profile-tab-icon-active{
    --lwc-colorTextIconDefault: var(--whiteBackground);
}
.res-profile-tab-name {
    color: var(--darkFontColor);
    font-size: 14px;
}
.res-profile-tab-name-active {
    color: var(--lightFontColor);
}

.res-booking-hyperlink{
    text-decoration: none;
    float: right;
}
.res-wallet-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.res-wallet-balance-addmoney {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.res-wallet-add-money {
    color: var(--darkFontColor);
    font-size: 16px;
    font-weight: 600;
    float: right;
}
.res-wallet-current-money {
    font-size: 20px;
    font-family: var(--resRegularFont);
    display: inline-block;
}
.res-wallet-current-money-value {
    font-size: 20px;
    font-family: var(--resBoldFont);
    display: inline-block;
}
.res-user-details-button{
    min-width: 100px;
    padding: 10px;
    color: var(--darkFontColor);
    background-color: var(--whiteBackground);
    border: 1px solid var(--primaryColor);
    border-radius: 10px;
    margin : 0 10px 0 0;
}
.res-user-details-button-active{
    color: var(--lightFontColor);
    background-color: var(--primaryColor);
}
.res-user-details-button:hover{
    color: var(--lightFontColor);
    background-color: var(--primaryColor);
}
.res-user-details-buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.res-booking-card-hotel{
    font-size: 24px;
    font-family: var(--resMediumFont);
}
.res-booking-card-dates{
    font-family: var(--resRegularFont);
    font-weight: 100;
    font-size: 14px;
    margin: 0 0 10px 0;
}
.res-booking-card-top-buttons{
    float: right;
}
.res-booking-card-right-part{
    align-items: center;
    padding: 10px;
    height: 100%;
}
.res-booking-card-details{
    font-size: 15px;
    font-family: var(--resRegularFont);
    font-weight: 100;
}
.res-booking-total-cost{
    font-size: 20px;
    font-weight: 300;
    margin: 12px 0 0 0;
}
.res-booking-card-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.res-booking-card-button{
    min-width: 100px;
    padding: 10px;
    color: var(--darkFontColor);
    background-color: var(--whiteBackground);
    border: 1px solid var(--primaryColor);
    border-radius: 10px;
    margin : 0 0 0 10px;
}
.res-booking-card-button:hover{
    color: var(--lightFontColor);
    background-color: var(--primaryColor);
}
.res-booking-card-img-item{
    max-height: 220px;
}
.res-booking-card-img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.res-booking-details-container{
    align-items: center;
    padding: 24px;
    box-shadow: 0px 0px 7px 1px rgba(219, 219, 219, 1);
    margin: 0 0 0 30px;
    border-radius: 12px;
}
.res-booking-details-summary{
    padding: 0 0 0 10px;
}
.res-booking-details-summary-hotel-name{
    font-size: 32px;
    padding: 0 0 0 10px;
    margin: 10px 0 24px 0;
}
.res-booking-details-summary-total-cost{
    font-size: 24px;
}
.res-booking-details-summary-other-details{
    font-size: 20px;
    padding: 0 0 0 10px;
    margin: 5px 0 0 0;
}
.res-booking-summary-right-part{
    display: flex;
    justify-content: end;
    padding: 0 10px 0 0;
    
}
.res-booking-details-item{
    margin: 15px 0;
}
.res-create-case-item-class{
    position: fixed;
    top : 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.3);
    z-index: 2;
}
.res-create-case-layout-class{
    margin: 0 auto;
    width: 50%;    
    border-radius: 10px;
    padding: 25px;
    min-height: 200px;
    background-color: var(--whiteBackground);
    overflow: auto;

}
.res-cancel-booking-modal-layout-class{
    width: 100%;
    height: 100vh;
    position: fixed;
    top : 0;
    left :0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
}
.res-cancel-order-layout-class{
    margin: 0 auto;
    width: 50%;    
    border-radius: 10px;
    padding: 25px;
    min-height: 100px;
    background-color: var(--whiteBackground);
    overflow: auto;

}
.res-create-new-case-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin : 15px 0 0 0;
}
.flex-row{
    flex-direction: row;
}
.padding-10{
    padding : 10px;
}
.margin-20{
    margin: 0 0 0 20px;
}
.margin-10{
    margin: 0 0 0 10px;
}
.margin-30{
    margin: 0 0 0 30px;
}
.create-new-case-btn{
    float: right;
    margin: 0 10px 0 0;
}
.res-create-new-case-input{
    border: none;
    background: var(--secondaryColor);
    border-bottom: 1px solid var(--primaryColor);
    min-height: 35px;
    outline: none;
    margin: 4px 0 0 0;
}
.res-new-case-error{
    color: red;
}
.res-support-tickets-container{
    align-items: center;
    margin: 0 0 0 20px;
}
.res-booking-details-filter-bar{
    padding: 0 0 0 10px;
    margin: 0 0 16px 0;
}


.otp-container{
    justify-content: center;
    border-radius: 10px;
    padding: 21px 45px;
    margin-bottom: 50px;
}
.otp-instruction{
    font-size: 16px;
    text-align: center;
}
.center{
    justify-content: center;
    align-items: center;
}
.center-text{
    text-align: center;
}
.loading-spinner{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}
/* ============================= Review Part =========================== */

.review-full-screen-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top : 0;
    left :0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
}
.review-outer-container{
    background-color: var(--whiteBackground);
    color: var(--primaryColor);
    border: 1px solid var(--secondaryColor);
    margin: 0 auto;
    padding: 40px;
    z-index: 2;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 10px 30px 0px #0000002f;
}
.Review-Header{
    font-size: 30px;
    margin: 0 0 20px 0;
}

.btn{
    width: 200px;
    height: 50px;
    padding: 10px;
    border: 1px solid var(--primaryColor);
    color: var(--darkFontColor);
    background-color: var(--whiteBackground);
    border-radius: 10px;
}
.rating-type{
}
.show-review{
    display: block;
    margin: 0 auto;
    width: 50%;
}

.hide-review{
    display: none;
}

.review-heading{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--primaryColor);
    background-color: var(--secondaryColor);
    line-height: 25px;
    margin: 5px 0 15px;
}
.margin-b-10{
    margin-bottom: 10px;
}
.margin-b-30{
    margin-top: 30px;
}

.save-btn{
    width: 80px;
    padding: 10px 20px;
    color: var(--darkFontColor);
    background-color: var(--whiteBackground);
    border: 1px solid var(--primaryColor);
    margin-left: 30px;
    border-radius: 10px;
}
.save-btn:hover{
    color: var(--lightFontColor);
    background-color: var(--primaryColor);
    border: 1px solid var(--whiteBackground);
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.rate {
    float: left;
    height: 46px;
}
.textarea {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--primaryColor);
    background-color: #F6F5F5;
}
.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}
.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
    transition: transform 0.3s ease;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: var(--primaryColor);
    animation: pop 0.3s ease;
}

/* Remove hover color changes */
.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label,
.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #376a9f;
}

/* Animation keyframes */
@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 600px) {
    .show-review{
        width: 90%;
    }
  }