.res-profile-container{
    width: 80%;
    margin: 25px auto;
    height: 500px;
}
.pointer-events-disabled{
    pointer-events: none;
}
.res-firstname-input{
    padding: 10px;
    max-width: 200px; 
}
.res-lastname-input{
    padding: 10px;
    max-width: 200px; 
}
.res-email-input{
    padding: 10px;
}
.res-contact-input{
    padding: 10px;
    max-width: 200px; 
}
.res-user-details-input-item{
    padding: 0 20px;
    margin: 10px 0;
}
.res-user-details-buttons{
    padding: 0 20px;
}
.res-profile-menu{
    flex-direction: column;
    justify-content: space-between;
}
.res-bookings-card{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.res-profile-container-left-part {
    background-color: #fffdf8;
    padding: 10px;
    text-align: center;
    height: 100%;
}
.res-profile-tab{
    text-decoration: none;
    display: flex;
    justify-content: left;
    margin-top: 20px;
    align-items: center;
    padding: 10px 0 10px 40px;
}
.res-profile-tab-icon{
    margin-right: 12px;
    --lwc-colorTextIconDefault: #b38a24;
}
.res-profile-tab-icon-active{
    --lwc-colorTextIconDefault: #ffffff;
}
.res-profile-tab-name {
    color: #B38A24;
    font-size: 14px;
}
.res-profile-tab-name-active {
    color: #ffffff;
}

