.skeleton {
    background-color: #e0e0e0;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.eighty-width{
    display: block;
    width: 80%;
    margin: auto;
}

.top-space{
    margin-top: 65px;
}

.shimmer {
    position: relative;
    overflow: hidden;
}
.shimmer::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, #f5f5f5 50%, transparent 100%);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

.skeleton-title {
    margin-top: 85px;
    width: 40%;
    height: 85px;
}

.skeleton-subtext {
    width: 25%;
    height: 18px;
}

.skeleton-image-small {
    margin-top: 65px;
    height: 300px;
    width: 100%;
}

.skeleton-paragraph {
    height: 14px;
    width: 90%;
}

.skeleton-paragraph.short {
    width: 60%;
}

.skeleton-heading {
    width: 30%;
    height: 20px;
}

.skeleton-card {
    height: 120px;
    width: 100%;
}

.skeleton-map {
    height: 150px;
    width: 100%;
}

.skeleton-pill {
    height: 16px;
    width: 70%;
}
