.banner{
 height: 40vh;
 background-size: cover;
 background-position: center;
 background-image: url(https://raw.githubusercontent.com/milinkapatel/Respira-Images/refs/heads/main/banner.png);
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 text-align: center;
}
.title{
 color: white;
 font-size: 45px;
 font-family: 'TerminaRegular';
 font-weight: 700;

}
.sub-title{
 color: white;
 font-size: 25px;
 font-family: 'TerminaRegular';
}