.outer-container{
    padding: 20px;
    font-size: 25px;
    background-color: #fffdf8;
    color: Black;
    border-radius: 8px;
    margin-top: 15px;
}
.font-container{
    font-family:'CinzelRegular';
}