.card-layout{
    background-color: white;
    color: black;
    box-shadow: 0px 10px 30px 0px #0000001A;
    border-radius: 15px;
    font-family: 'Lato';
    width: 100%;
    /* margin : 0 auto; */
    
}
.card-layout:hover{
    box-shadow: 0px 10px 30px 0px #0000002f;
    cursor: pointer;
}
.detail-portion{
    
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.img-class{
    width: 100%;
    height: 270px;
    object-fit: cover;
    object-position: center;
    overflow: auto;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.hotel-name{
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.room-type{
    overflow: hidden;
    text-overflow: ellipsis;
}
.location-container{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.location{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    color: black;
}

.starting-price{
    font-size: 10px;
    font-weight: 400;
    margin-top: 5px;
}

.rating{
    line-height: 27px;
    text-align: end;
    font-size: 18px;
    font-weight: 500;
    align-items: baseline;
    margin-bottom: 6px;
    justify-content: end;
}
.rating-star{
    display: flex;
    justify-content: end;
    height: 25px;
}
.rating-img{
    
    width: 20px;
    height: 20px;
    display: block;
    
    
}
.rating-img-value{
    align-items: center;
    flex-direction: row-reverse;
    
}
.price-container{
    margin-top: -6px;
   
}
.price{
   
    text-align: right;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #007CFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.price-rating{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}